<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<head>
	<link rel="stylesheet" th:href="@{/css/homestyle.css}">
</head>
<body>

	<!-- Header -->
	<header th:replace="layout/layout :: header"></header>

	<!-- Imagen Principal -->
	<section>
		<div class="container-fluid">
			<div class="row">
				<img class="img-fluid d-block" th:src="@{/image/comic.jpg}" alt="Imagen Principal">
			</div>
		</div>		
	</section>

	<section class="main my-4">
		<div class="container">
			<h2 class="display-4 font-weight-bold text-center ">Conoce nuestro servicio</h2>
			<p class="font-weight text-center mt-0 pt-0 pb-4">Manda a <b>imprimir</b> cuando quieras y recoje en la papelería sin hacer fila.</p>
			<div class="row text-md-center">
			
				<article class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-3">
					<div class="d-flex card shadow h-100">
						<img class="card-img-top regular" th:src="@{/image/registrate.png}" alt="Registrate">
						<div class="card-body">
							<h5 class="card-title">I. Registrate en nuestra plataforma</h5>
							<p class="card-text">Ingresa tus datos y regristrate. De preferencia registra tu matricula 
								o numero de empleado si eres trabajador o docente de la UAMI, asi podremos identificar tus trabajos mas facilmente
							</p>
							<a class="btn btn-outline-success" th:href="@{/nuevoUsuario}">Sign up</a>
						</div>
					</div>
				</article>
				
				<article class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-3">
					<div class="d-flex card shadow h-100">
						<img class="card-img-top regular" th:src="@{/image/login.png}" alt="Logea">
						<div class="card-body h-100">
							<h5 class="card-title mb-4">II. Inicia sesión con tu usuario registrado</h5>
							<p class="card-text mb-5">
								Ingresa tu usuario y contraseña para poder iniciar sesión
							</p>
							<a class="btn btn-primary mt-5" th:href="@{/login}">Sign in</a>
						</div>
					</div>
				</article>	

				<article class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-3">
					<div class="d-flex card shadow h-100">
						<img class="card-img-top regular" th:src="@{/image/Archivo.png}" alt="Archivo">
						<div class="card-body">
							<h5 class="card-title">III. Sube el archivo que quieras imprimir</h5>
							<p class="card-text"> Sube el archivo que quieras imprimir a nuestra plataforma, selecciona algunas caracteristicas y
							puedes dejar algunos comentarios importantes para tu impresión. Por el momento solo se admiten archivos con el formato pdf.
							</p>
							
						</div>
					</div>
				</article>	

				<article class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-3">
					<div class="d-flex card shadow h-100">
					<img class="card-img-top regular" th:src="@{/image/impresion.png}" alt="Imprime">
						<div class="card-body">
							<h5 class="card-title mb-4">IV. Da click en imprimir</h5>
							<p class="card-text"> Puedes pasar por tus impresiones a nuestro local y poderlo pagarlo ahi mismo cuando lo recojas							</p>
							
						</div>
					</div>
				</article>	
			</div>
		</div>
	</section>

	
	<section class="mapa my-4">
		<div class="container-fluid">
			<div class="row">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7976.134404782956!2d-99.07093406585467!3d19.35901089901875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fd969aa63713%3A0x50f67709158ffdf4!2sUniversidad%20Aut%C3%B3noma%20Metropolitana%20Unidad%20Iztapalapa!5e0!3m2!1ses-419!2smx!4v1610810211092!5m2!1ses-419!2smx" 
				class="w-100" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>
		</div>
	</section>	


	<footer th:replace="layout/layout :: footer"></footer>
	
	
</body>
</html>